<!DOCTYPE HTML>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Learning Add Lesson</title>

    <meta name="theme-color" content="#563d7c">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="header :: header"></div>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="py-5 text-center">
            <h2>Add Lesson to course <span th:text="${current_course.name}"></span></h2>

            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h4 class="mb-3">Lesson form</h4>
                    <form class="needs-validation"
                          th:action="@{/courses/{courseId}/lessons/add(courseId=${current_course.id})}"
                          th:object="${lesson}" method="post">
                        <div class="mb-3">
                            <input th:field="*{topic}" type="text" class="form-control" id="topic"
                                   placeholder="Lesson topic" required>
                            <div class="invalid-feedback">Topic</div>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('topic')}" th:errors="*{topic}">
                                Topic Error
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="date">Lesson date</label>
                            <input th:field="*{date}" th:value="*{date}" type="date" class="form-control"
                                   id="date" required>
                            <div class="invalid-feedback">Date</div>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('date')}"
                                 th:errors="*{date}">Date error
                            </div>
                        </div>
                        <div class="mb-3">
                            <input th:field="*{description}" type="text" class="form-control" id="description"
                                   placeholder="Lesson description" required>
                            <div class="invalid-feedback">Topic</div>
                            <div class="alert alert-danger" th:if="${#fields.hasErrors('description')}"
                                 th:errors="*{description}">
                                Description Error
                            </div>
                        </div>
                        <input hidden id="course" name="course" th:value="${current_course.id}">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </div>
</main>

<footer class="footer mt-auto py-3">
    <div th:replace="footer :: footer"></div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
