<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<div>
    <!-- Fixed navbar -->
    <nav th:fragment="header" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" th:href="@{/}">ELearning</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li id="home_li" class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="home">Home</a>
                </li>
                <div sec:authorize="hasRole('TEACHER')">
                    <li id="journal_li" class="nav-item">
                        <a class="nav-link" th:href="@{/journal}" href="/journal">Journal</a>
                    </li>
                </div>
                <div sec:authorize="hasRole('STUDENT')">
                    <li id="dairy_li" class="nav-item">
                        <a class="nav-link" th:href="@{/diary}" href="/diary">Diary</a>
                    </li>
                </div>
                <div sec:authorize="hasAnyRole('ADMIN', 'TEACHER')">
                    <li id="courses_li" class="nav-item">
                        <a class="nav-link" th:href="@{/courses}" href="/courses">Courses</a>
                    </li>
                </div>
                <div sec:authorize="hasRole('ADMIN')">
                    <li id="users_li" class="nav-item">
                        <a class="nav-link" th:href="@{/users}" href="/users">Users</a>
                    </li>
                </div>
            </ul>
            <form class="form-inline mt-2 mt-md-0" th:action="@{/logout}" method="post">
                <a class="navbar-brand" href="#">
                    <div sec:authentication="name"></div>
                </a>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign Out</button>
            </form>
        </div>
    </nav>
</div>


</body>
</html>