<!DOCTYPE HTML>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>E-Learning Course</title>

    <meta name="theme-color" content="#563d7c">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="header :: header"></div>
</header>

<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h2 class="mt-5">Course
            <snap th:text="${course.name}"></snap>
        </h2>

        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th th:each="lesson : ${course.lessons}" scope="col" th:text="${lesson.date}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${course.students}">
                <th scope="row" th:text="${student.id}"></th>
                <td th:text="${student.name}"></td>
                <td th:each="lesson : ${course.lessons}" th:text="${lesson.studentWorks}"></td>
            </tr>

            </tbody>
            <tfoot>
            <tr>
                <th scope="col" colspan="2">Topic</th>
                <th scope="col" th:each="lesson : ${course.lessons}">
                    <a href="#" title="Maven" th:text="${lesson.topic}" data-toggle="popover" data-trigger="focus"
                       th:attr="data-content=${lesson.description}" data-content="">Maven</a>
                </th>
            </tr>
            </tfoot>
        </table>

    </div>
</main>

<footer class="footer mt-auto py-3">
    <div th:replace="footer :: footer"></div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });</script>
</body>
</html>
